/* .active {
    background-color: #171a4a; 
    text-decoration: none;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.pending {
    text-decoration: none;
} */

.link {
    text-decoration: none;
}

.loading-dots {
  display: flex;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 8px;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}